<div>
  <mat-card>
    <mat-card-title>Confirm</mat-card-title>

    <mat-card-content>
      <div class="content">
        <app-disclaimer mode="warning" icon="check_circle"
          >Is this data correct?</app-disclaimer
        >
        <h2>User</h2>
        <div
          *ngFor="
            let control of userData.value.register | keyvalue;
            let field = index
          "
          class="field">
          <div class="label">{{ control.key }}:</div>
          <div class="value">{{ control.value }}</div>
        </div>
        <h2>Personal</h2>
        <div
          *ngFor="
            let control of userData.value.personal | keyvalue;
            let field = index
          "
          class="field">
          <div class="label">{{ control.key }}:</div>
          <div class="value">{{ control.value }}</div>
        </div>
        <h2>Additional</h2>
        <div
          *ngFor="
            let control of userData.value.additional | keyvalue;
            let field = index
          "
          class="field">
          <div class="label">{{ control.key }}:</div>
          <div class="value">{{ control.value }}</div>
        </div>
      </div></mat-card-content
    >
  </mat-card>
</div>
